<h1>Editing Admin Leetcode User Checkin</h1>

<%= render 'form', admin_leetcode_user_checkin: @admin_leetcode_user_checkin %>

<%= link_to 'Show', admin_leetcode_user_checkin_path(@admin_leetcode_user_checkin) %> |
<%= link_to 'Back', admin_leetcode_user_checkins_path %>
