<h1>Editing Admin Site Config</h1>

<%= render 'form', admin_site_config: @admin_site_config %>

<%= link_to 'Show', admin_site_config_path(@admin_site_config) %> |
<%= link_to 'Back', admin_site_configs_path %>
