<h1>Administration</h1>

<p>System information:</p>

<ul>
  <li>
    <%= link_to 'LeetCode users', admin_leetcode_users_path %>: <%= LeetcodeUser.count %>
  </li>
  <li>
    <%= link_to 'Site Config', admin_site_configs_path %>
  </li>
</ul>