<table class="table">
  <thead>
  <tr>
    <th>
      #
    </th>
    <th>
      LeetCode ID
    </th>
    <th>
      Finished
    </th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= link_to u.leetcode_id, "http://leetcode.com/#{u.leetcode_id}", target: '_blank' %></td>
      <td><%= u.current_finished_count %></td>
      <td><%= link_to 'Edit', edit_admin_leetcode_user_path(u) %></td>

    </tr>
  <% end %>
  </tbody>
</table>